@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Londrina+Outline&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
html,
body {
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 20;
}

.nav-right {
  display: flex;
  gap: 3em;
}
.nav-links {
  display: none;
  cursor: pointer;
}
.nav-buttons {
  display: flex;
  gap: 2em;
  align-items: center;
}
.menu-button {
  width: 3em;
}

.hidden-menu {
  transform: translateX(200em);
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 1em;
  padding: 2em 1em;
  font-size: 2em;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  margin: 0;
  z-index: 100;
  transition: transform 0.3s ease-in-out;
}
.close-button {
  align-self: flex-end;
  font-size: 0.5em;
  cursor: pointer;
}

.button {
  display: inline-block;
  padding: 0.5em 1em;
  color: white;
  text-align: center;
  transition: 0.3s;
}

.button:hover,
.post-card:hover {
  transform: translateY(-3px);
}

.donate-button {
  background-color: #cb1b44;
}
.nav-link {
  color: black;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

body {
  background-color: #f5f2f2;
  padding: 6.5em 0;
  color: black;
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
}
.pagination a {
  color: blue;
}

@media (min-width: 600px) {
  .main {
    min-width: 80%;
  }
}

@media (min-width: 900px) {
  .nav-links {
    display: flex;
    gap: 4em;
  }
  .menu-button {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    padding: 1em 4em;
  }
  .nav-link:hover {
    transform: scaleX(1.2);
  }
  .hidden-menu {
    display: none;
  }
}
